# 数据抽取

## 数据生成

In [1]:
import pandas as pd

In [2]:
data = [
    [109,113,121],
    [108,124,141],
    [112,125,135],
    [132,113,126]
]

name = ['刘备','关羽','张飞','赵云']
columns = ['骑马','射箭','摔跤']
df = pd.DataFrame(data=data,index=name,columns=columns)
df

     骑马   射箭   摔跤
刘备  109  113  121
关羽  108  124  141
张飞  112  125  135
赵云  132  113  126

## 使用loc方法抽取

In [4]:
df.loc['关羽']

骑马    108
射箭    124
摔跤    141
Name: 关羽, dtype: int64

In [6]:
df.loc[['关羽','张飞']]

     骑马   射箭   摔跤
关羽  108  124  141
张飞  112  125  135

## 使用iloc方法抽取

### 使用索引号抽取

In [7]:
df.iloc[1]

骑马    108
射箭    124
摔跤    141
Name: 关羽, dtype: int64

In [8]:
df.iloc[[1,2]]

     骑马   射箭   摔跤
关羽  108  124  141
张飞  112  125  135

### 抽取指定行数据

In [11]:
# 第1行到“关羽”
df.loc['刘备':'张飞']

     骑马   射箭   摔跤
刘备  109  113  121
关羽  108  124  141
张飞  112  125  135

In [12]:
# 第1行到第4行
df.iloc[0:4]

     骑马   射箭   摔跤
刘备  109  113  121
关羽  108  124  141
张飞  112  125  135
赵云  132  113  126

In [13]:
#第2行到最后1行
df.iloc[2:]

     骑马   射箭   摔跤
张飞  112  125  135
赵云  132  113  126

### 抽取指定列的数据

In [14]:
#直接使用列名
df['射箭']

刘备    113
关羽    124
张飞    125
赵云    113
Name: 射箭, dtype: int64

In [15]:
df[['骑马','射箭']]

     骑马   射箭
刘备  109  113
关羽  108  124
张飞  112  125
赵云  132  113

In [18]:
# 抽取第1列和第2列
df.iloc[:,[0,1]]

     骑马   射箭
刘备  109  113
关羽  108  124
张飞  112  125
赵云  132  113

In [20]:
#抽取从“骑马”开始到最后1列
df.loc[:,'骑马':]

     骑马   射箭   摔跤
刘备  109  113  121
关羽  108  124  141
张飞  112  125  135
赵云  132  113  126